<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nennig.vtglibrary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application android:name=".VTGLibraryApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectorActivity"
            android:label="@string/title_activity_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nennig.vulcan.tech.gospel.MainActivity" />
        </activity>
        <activity
            android:name=".DetailViewActivity"
            android:label="@string/title_activity_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nennig.vulcan.tech.gospel.PropActivity" />
        </activity>
        <activity
            android:name=".DetailZoomActivity"
            android:label="@string/title_activity_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nennig.vulcan.tech.gospel.DetailViewActivity" />
        </activity>
        <activity android:name=".VideoActivity" >
        </activity>
        <activity
            android:name=".SearchListActivity"
            android:label="@string/title_activity_search_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nennig.vulcan.tech.gospel.SelectorActivity" />
        </activity>
    </application>

</manifest>